@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}


.App {
  text-align: center;
  display: flex;
  background-color: #efefef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sidebar {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 300px;
}


 /* Sidebar links */
 .sidebar a {
  display: flex;
  color: black;
  padding: 16px;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  margin: 16px;
  width: 90%;
}

/* Active/current link */
.sidebar a.active {
  background-color: #E3DAFF;
  color: black;
  border-radius: 32px;
  margin: 16px;

}
/* .sidebar a.active {
  background-color: #04AA6D;
  color: white;
}
 */
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #E3DAFF;
  color: black;
  border-radius: 32px;
  margin: 16px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 300px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test{
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: rgb(225, 231, 238);
}

.table{
  background-color: white;
  width:90%;
  max-width: 95%;
  /* max-width: 90%; */
  padding: 50px 20px 20px 50px;
  height: 700px;
  border-radius: 50px;
  height: 95%;
  /* display: flex;
  flex-direction: column; */
}



.borderRightWidth{
  border-right-width: 1px solid red;
  border-color: #61dafb;
  border-style: dashed;
}

.backgroundImage{
  background-color: #61dafb;
  background-image: url('https://cdn.shopify.com/s/files/1/0555/3725/files/louis-vuitton-logo_1024x1024.jpg?v=1525874771');
  background-repeat: no-repeat;
  background-size: cover;
}


  /* Style for the custom scrollbar */
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #343333;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .loading-screen-transparent .modal-content {
    background-color: rgba(0,0,0,0.3) !important;
    border: none !important;
    box-shadow: none !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  



